body{
  background-color: white;
  margin: 0;
}


header{
  text-align: center;
  overflow: auto;
}

.logo_1{
  background-color: white;
  width: 400px;
  height: 80px;


}


main{

  padding: 10px;
  display: inline-block;
}

.picture{

margin-left: 300px;



}

.iphone{
  width: 550px;
  height: 500px;
  margin-left: -120px;
  margin-top: -20px;
  display: inline-block;



}


.subject{

  text-align: center;
  vertical-align: text-bottom;
  vertical-align: bottom;
  font-size: 15px;
  margin-top: -9px;



}


.align{

  float: right;
  margin-top: -540px;
  margin-right: 100px;
  overflow: auto;
  display: inline-block;

}

aside{
  margin: -30px;
  margin-left: 100px;
  vertical-align: top;
  border: 0.5rem outset grey;
  border-radius: 12px;
  border: height 300px;
  height: 200px;
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 100px;
  padding-right: 100px;
  outline-offset: 0.5rem;
  text-align: center;
  overflow: auto;
}

.logo_2{
  width: 150px;
  height: 55px;
  margin-top: -20px;

}

footer{
;

text-align: center;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}
